:host {
  display: block;
}

.primary {
  display: flex;
  justify-content: center;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(231 1 9);
  padding: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255);
}

.secondary {
  display: flex;
  justify-content: center;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(36 31 32);
  padding: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255);
}
